body{
    padding:0%;
    margin:0%;
    background-color:rgb(243, 236, 236);
    box-sizing: border-box;
}
.a{
    height:2em;
    width:auto;
   background-color:#db147e;
   display:flex;
   margin-top:0em;
   margin-bottom:0em;
}
li{
  list-style:none;
  padding-right:1em;
}
.a1{
    padding-left:60em;
}

.a1,.a2,.a3{
    color:white;
}

.con1{
  height:3.2em;
  width:auto;
  background-color:fuchsia;
  display:flex;
  padding-left:5em;
}

 input[type="text"]{
    margin:.5em 0em .5em 0em;
    width:30em;
}
input[type="number"]{
    margin-left:0.5em;
}
.q{
    display:flex;
}
.q1{
    flex:1;
}
.q2{
    flex:3;
}
.main1{
    flex:3;
    order:1;
}
.cc{
    margin-left:0.5em;
    background-color:black;
    color:white;  
}
.c1,.c2{
    padding:0.5em 1em 0.4em 1.5em;
    border-left:0.1em solid crimson;
    color:white;
    flex:1;
    background-color:fuchsia;
    text-align:center;
}
.c1{
    order:3;
}
.c2{
    order:2;
}

.con2{
    height:25em;
    width:100%;
    display:flex;
    border-collapse: collapse;
}
.main2{
    flex:2;
    background-image:url("download.jpg");
    order:2;
    border:0.1em solid lightgrey;
    margin:1em;
}
.s1,.s2{
    flex:0.7;
    border:0.1em solid lightgrey;
    margin:1em;
    background-color:white;
}
.s1{
    order:1;
}
.s2{
   order:3;
}
h{
    font-size:200%;
    padding-left:15em;
}
.con3{
    height:20em;
    width:100%;
    display:flex;
}
.x1,.x2,.x3,.x4{
    flex:1;
}
.con4{
    margin-top:5em;
    height:20em;
    width:100%;
    display:flex; 
}
.x5,.x6,.x7,.x8{
    flex:1;
}
footer{
    border-top:0.1em solid lightgrey; 
    height:20em;
    width:100%;
}
.table{
    margin:2em 4em 4em 4em;
    border-collapse:collapse;
    height:10em;
    width:70em;
}
th{
    border:none;
    color:black; 
}
td{
    border:none;
    text-align:center;  
}
.f{
    display:flex;
    border-bottom:0.1em solid lightgrey; 
}
.f1,.f2{
    padding-left:15em;
    flex:1;
}
